
@mixin font-face($font-name, $file-name) { 
    @font-face {
        font-family: quote($font-name);
        src: url($file-name + '.eot');
        src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
        url($file-name + '.ttf')  format('truetype');
        font-weight: 'normal';
        font-style: 'normal';
    }
}

@include font-face('RoboRegular', '/assets/fonts/Roboto/Roboto-Regular');
@include font-face('RoboLight', '/assets/fonts/Roboto/Roboto-Light');
@include font-face('RoboBold', '/assets/fonts/Roboto/Roboto-Bold');
