<div class="banner-view">
    <div class="left">
        <img src="../../../../assets/images/welcome-image.svg" alt="welcome" title="welcome">
    </div>
    <div class="right">
        <h2>Life is short</h2>
        <h2>
            and the world is wide!
        </h2>
        <span>Stay at the comfo of your homes and book a trip to travel
            aer the post pandemic era.</span>
            <button type="button" class="custom-btn" title="click here"> PLAN A TRIP</button>

    </div>

</div>
