<div class="footer">
    <div class="footer-view">
        <div class="items">
            <h3>TripZone</h3>
            <ul>
                <li *ngFor="let data of footerOne">
                    <a href="javascript:;" title="{{data}}">{{data}}</a>
        
                </li>
            </ul>
        </div>
      
    
        <div class="items">
            <h3>Main Offices</h3>
            <ul>
                <li *ngFor="let data of footerTwo">
                    <a href="javascript:;" title="{{data}}">{{data}}</a>
        
                </li>
            </ul>
        </div>
      
    
        <div class="items">
        <h3>Sub Offices</h3>
        <ul>
            <li *ngFor="let data of footerThree">
                <a href="javascript:;" title="{{data}}">{{data}}</a>
    
            </li>
        </ul>
    
    </div>
      
    <div class="item-last">
        <h3>Disclaimer</h3>
        <ul>
            <li *ngFor="let data of footerFour">
                <a href="javascript:;">{{data}}</a>
    
            </li>
        </ul>
    </div>
       
    
    
        
    </div>
</div>
